<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtf0NFOb5opZ5LGIoKhC2KHG4snFe8o3w</string>
	<key>GCM_SENDER_ID</key>
	<string>63306266999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rights.QueenRight</string>
	<key>PROJECT_ID</key>
	<string>queenright-a273c</string>
	<key>STORAGE_BUCKET</key>
	<string>queenright-a273c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63306266999:ios:d3ded8d7c4038838864972</string>
</dict>
</plist>